@import "./components/footer";
@import "./base/list";
@import "./components/navbar";
@import "./base/extends";
@import "./base/maps";
@import "./components/estructura";
@import "./components/partidos";
@import "./components/contacto";
@import "./components/responsive";