@import "../base/extends";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
  }
  main {
    padding-bottom: 40px;
  }
  body {
    @extend %body;
      }
  main {
    padding-left: 1%;
    padding-right: 1%;
  }
  
  .Aplicargrids:hover {
    transform: scale(1.018);
    transition: all 0.5s;
  }
  table:hover {
    transform: scale(1.09) translateY(5px);
    transition: all 1s;
  }
  .Aplicargrids {
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 10px;
    padding: 1%;
    background-color: #0f151f;
    place-items: center;
  }
  .imgs {border-radius: 30px;}