 footer {
    width: 100%;
    background-color: #0b111a;
    padding-bottom: 20px;
    margin-top: auto;
    .fot {
        text-align: center;
      }
      .fot :hover {
        color: rgb(129, 129, 129);
      }
  }