
.loadingbar {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
  }
  table {
    background-color: map-get($partidos , bgtable );
    width: 100%;
    border-collapse: collapse;
    transition: all 300ms;
  }
  .maintable {
    margin: 10px auto;
  }
  th,
  td {
    padding: 17px;
    border: 0px;
    text-align: center;
    font-family: "Roboto Flex", sans-serif;
  }
  thead {
    background-color: #21385a;
  }