.principales {
    color: rgb(255, 255, 255);
    font-family: "Commissioner", sans-serif;
    margin: 20px;
    font-size: 2em;
  }
  .principales__moviles {
    color: rgb(255, 255, 255);
    font-family: "Commissioner", sans-serif;
    margin: 20px;
    font-size: 1.5em;
  }
  
  .textfooter {
    margin: 20px;
    font-family: "Roboto Flex", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
  }